

body.excusa {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #407cc5;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;   /* Centrado horizontal */
  align-items: center;       /* Centrado vertical */
}

h1 {
  color: #cad0d6;
  margin-bottom: 20px;
}

#excusas {
  font-size: 1.5rem;
  color: #d6dce2;
}

